.forms {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  width: 300px;
  position: absolute;
  top: 8rem;
  left: 4rem;
}

.forms h3 {
  font-size: 40px;
  /* margin-top: 10px; */
  /* color: white; */
}

.transit-tracker-logo h3 {
  font-size: 55px;
  margin-top: 20px;
}

/* .transit-tracker-logo {
  padding: 20px;
  border-radius: 8px;
  background-color: #1D4D88;
} */

/* .trimet h3 {
  font-size: 49px;
} */

.icon-trip {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 10px;
  margin-top: 12px;
  justify-content: space-between;
}

.icon-trip h3 {
  font-size: 55px;
}

@media only screen and (min-width: 500px) {
  .mobile-form-container {
      display: none;
  }

  .trimet-logo {
    width: 45px;
  }
}

@media only screen and (max-width: 500px) {
  .forms {
    top: 4rem;
    left: 6.5rem;
  }
  .web-form-container {
      display: none;
  }
  .trimet-logo {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

  .mobile-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrival-form {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 414px) {
  .forms {
    left: 58px;
  }
}

@media only screen and (max-width: 375px) {
  .forms {
    left: 38px;
  }
}
